html
	head
		title Jade
	body
		h3 Recepci칩n de Parametros URL
		form(action="/users" method="POST")
			div(class="form-group")
				label(for="email") Email*
				input(type="email", name="email", placeholder="Ingrese el correo...", id="email", class="form-control")
			br
			div(class="form-group")
				label(for="password") Contrase침a*
				input(type="password", name="password", placeholder="Ingrese la contrase침a...", id="password", class="form-control")
			br
			div
				input(type="submit", value="Iniciar Sesi칩n", class="btn btn-success")